@use "tailwindcss";

#menu{
    top: -100px;
    position: absolute;
    height: 10vh;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-wrap: wrap;
    padding: 0 4vh;
    gap: 1rem;
    opacity: 0;
    right: 10vw;
    // width: 80vw;
    max-width: 70vw;
}

#menu:hover{
    transition: all;
    background-color: rgb(19, 19, 56);
}

#menu-icon{
    top: 50px;
    right: 50px;
    height: 10vh;
    width: 10vh;
}